    <head>
        <title>
            Statistics
        </title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/statistics.css">

    </head>