<html>

    <% include ./partials/header.ejs %>

    <body>

        <% include ./partials/nav.ejs %>

        <div id="wrap" class="container">
            
        </div>
        <% include ./partials/footer.ejs %>
    </body>
</html>