<div class="row">
    <div class="jumbotron" id="addMeeting">
        <h2>
            Add Meeting
        </h2>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Command format</h3>
            </div>
            <div class="panel-body">
                <i>
                    ma: add Meeting on DD.MM.YYYY HH:mm
                </i>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                Explanation
            </li>
            <li class="list-group-item">
                Instead of '<b>ma:</b>', you can also write
                '<b>meeting assistant:</b>', '<b>assistant:</b>'
            </li>
            <li class="list-group-item">
                Instead of '<b>add meeting</b>', you can also write
                '<b>remind</b>' or '<b>rem</b>'
            </li>
            <li class="list-group-item">
                '<b>on</b>' is only optional
            </li>
            <li class='list-group-item'>
                By adding '<b>ics</b>' at the end, you will get a ics
                file sent into the conversation
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                Examples
            </li>
            <li class="list-group-item">
                <i>ma: add meeting 25.11.2015 17:23</i>
            </li>
            <li class="list-group-item">
                <i>ma: rem 25.11.2015 17:23</i>
            </li>
            <li class="list-group-item">
                <i>ma: rem tomorrow 17:23</i>
            </li>
        </ul>

    </div>
</div>