<div class="row">
    <div class="jumbotron" id="listMeetings">
        <h2>
            List meetings
        </h2>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Command format</h3>
            </div>
            <div class="panel-body">
                <i>
                    ma: list meetings
                </i>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                Explanation
            </li>
            <li  class='list-group-item'>
                Instead of '<b>ma:</b>', you can also write
                '<b>meeting assistant:</b>', '<b>assistant:</b>'
            </li>
            <li  class='list-group-item'>
                Instead of '<b>list meetings</b>', you can also write
                '<b>list meeting</b>' or '<b>rem list</b>'
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                Examples
            </li>
            <li class="list-group-item">
                <i>ma: list meetings</i>
            </li>
            <li class="list-group-item">
                <i>ma: rem list</i>
            </li>
        </ul>

    </div>
</div>