<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Command Generator</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="function">Funktion</label>
  <div class="col-md-4">
    <select id="function" name="function" class="form-control">
      <option value="1">Meeting reminder</option>
      <option value="2">conversation statistics</option>
    </select>
  </div>
</div>

</fieldset>
</form>


</body>
</html>
