<html>
    <head>
        <title>
            Statistics
        </title>
        <link rel="stylesheet" type="text/css" 
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div>
            Statistiken für <%- title %>

            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            Statistiken für <%-title %>
                        </a>
                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="row">
                    <h2>
                        User in the conversation
                    </h2>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>
                            Number of messages
                        </h2>
                        <canvas id="chart-area-1" width="300" height="300"/>
                    </div>
                    <div class="col-md-6">
                        <h2>
                            Most text written
                        </h2>

                        <canvas id="chart-area2" width="300" height="300"/>
                    </div>
                </div>
            </div>
            <div class="container">
                <footer>

                </footer>

            </div>
        </div>
    </body>
</html>