<!doctype html>
<html>
    <head>
        <title>Pie Chart</title>
        <script src="/test2.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    </head>
    <body>
        <div id="canvas-holder">
            <canvas id="chart-area" width="300" height="300"/>
        </div>
    </body>
</html>