<html>

    <% include ../partials/statistics/header.ejs %>

    <body>

        <% include ../partials/statistics/nav.ejs %>

        <div id="wrap" class="container">
            <div class="row">
                <h2>
                    Conversationsüberblick
                </h2>
                Liste aller verfolgeten Konversationenen:
                <ul>
                    <li>
                        
                    </li>
                </ul>
            </div>
            <div class="row">
                
            </div>
        </div>
        <% include ../partials/statistics/footer.ejs %>
    </body>
</html>