<html>

    <% include ../partials/statistics/header.ejs %>

    <body>

        <% include ../partials/statistics/nav.ejs %>

        <div id="wrap" class="container">
            
        </div>
        <% include ../partials/statistics/footer.ejs %>
    </body>
</html>